@model Library.Entities.Models.Magazine
@{
    ViewBag.Title = "EditMagazine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit book</h2>

@using (Html.BeginForm("EditMagazine", "Magazine", FormMethod.Post))
{
    <fieldset>
        <p>
            @Html.LabelFor(m => m.Name, "Name")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Number, "Number")
            <br />
            @Html.EditorFor(m => m.Number)

        </p>
        <p>
            @Html.LabelFor(m => m.YearOfPublishing, "Year")
            <br />
            @Html.EditorFor(m => m.YearOfPublishing)
        </p>
        <p><input type="submit" value="Edit" /></p>
    </fieldset>
}