@model  Library.Entities.Models.Book

@{
    ViewBag.Title = "AddBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common.min.css" />
    <style>

        body {
            padding-top: 60px;
        }
    </style>
    <link href="~/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    @Styles.Render("~/Content/css")
</head>


<h2>AddBook</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Name")
    <br />

    @Html.EditorFor(model => model.Name)
    <br /><br />

    @Html.LabelFor(model => model.Author, "Author")
    <br />
    @Html.EditorFor(model => model.Author)
    <br /><br />

    @Html.LabelFor(model => model.YearOfPublishing, "Year of publishing")
    <br />
    @Html.EditorFor(model => model.YearOfPublishing)
    <br /><br />

    @*@Html.LabelFor(model => model.PublicHouses, htmlAttributes: new { @class = "control-label col-md-2" })*@

    <select id="selectedPablic" multiple="multiple" required name="selectedPablicHouses"></select>
    <p><input type="submit" value="Add" /></p>
    <script>
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '/PublicHouse/GetPublicationHouses',
                    dataType: "json"
                }
            }
        });
        $("#selectedPablic").kendoMultiSelect({
            dataSource: dataSource,
            dataTextField: "Name",
            dataValueField: "Id"
        });
        
    </script>

    <!--How to add selected id?-->

}



<div>
    @Html.ActionLink("Home", "Index")
</div>
