@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        if (!@User.IsInRole("admin"))
        {

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @User.Identity.GetUserName()
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off </a>
                    </li>
                </ul>
        }
   
        if (@User.IsInRole("admin"))
        {
             <br > <a href="javascript:document.getElementById('logoutForm').submit()">Log off </a> <br />
        }

    }

 }

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        ||
        <li><p>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p></li>
    </ul>
}

